body {
  background: black;
  height: 100vh;
  color: lime;
  font-family: fantasy;
  margin: 0 5% 0 5%;
}

header {
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}

main {
  margin-top: 50px;
  font-size: 20px;
}

button {
  margin-top: 100px;
  font-size: 20px;
  color: red;
}

input {
  color: black;
}

img {
  max-height: 40vh;
}

@media only screen and (max-width: 400px) {
  img {
    max-width: 350px;
    margin: auto;
  }
}
